<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome to Yotichi!</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Welcome to your new app!</strong>
    <p>This is the home page of Yotichi.</p>
    <p>Check out the <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Ionic Components</a> to learn more.</p>
  </div>
</ion-content>
